p {
    margin-bottom: 15px;
}

.section {
    margin: 2rem;
    border: 1px solid var(--color-naranja);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #dd7017;
    transition: transform 0.2s ease-in-out;
}
.section:hover {
    transform: scale(1.03);
}
.apli {
    width: 18%;
}
.imgAPP {
    width: 670px;
    height: 300px;
    margin: 1rem;
}

