:root {
    --color-azul: #2d9cdb;
    --color-naranja: #dd7017;
}
.cuerpo {
    background: #f6f1f1;
    height: 617px;
}
.cabezera {
    background-color: var(--color-azul);
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px var(--color-naranja);
    width: 100%;
}
.cab-central div {
    display: flex;
    margin: auto;
    align-items: center;
}
.div-logo {
    margin-left: 200px;
}

.cabezera div {
    display: flex;
    align-items: center;
}
.inicio {
    margin: auto;
}
.inicio2 {
    margin-right: 2rem;
}
.ti-inicio {
    margin-left: 5rem;
}
.foto {
    height: 100px;
}
.logo {
    width: 100px;
    border-radius: 5%;
    margin: 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--color-naranja);
}

.titulo {
    display: inline;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem;
}
p {
    text-align: justify;
    margin: 0.2rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Leyes {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.card {
    margin: 1.5rem;
    background-color: var(--color-azul);
    box-shadow: 2px 2px 4px #dd7017;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-color: #1071aa;
    box-shadow: 2px 2px 4px #df6808;
}

.card:hover .card-body {
    background-color: #df6808;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    background-color: var(--color-naranja);
    border-radius: 5px;
    border: 1px solid #dd7017;
}

.card-title {
    color: black;
    text-decoration: none !important;
}

.card-body a {
    text-decoration: none;
}

.botones {
    background-color: var(--color-naranja);
    color: black;
    box-shadow: 2px 2px 4px #dd7100;
    text-shadow: 1px 1px #dd7100;
    border: 1px solid #dd7100;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.botones:hover {
    background-color: #f86429;
    color: rgb(255, 255, 255);
    padding: 0.6rem;
}

.hiperlink {
    text-decoration: none;
}

.video {
    width: 960px;
    height: 540px;
    box-shadow: 2px 2px 4px #dd7017, -2px -2px 4px #dd7017, 2px -2px 4px #dd7017,
        -2px 2px 4px #dd7017;
}
.containerVideo {
    margin: 1.5rem;
}

.containerVideo:hover {
    transform: scale(1.03);
}

.gif {
    width: 960px;
    height: 540px;
}
.app-btn {
    margin: 0.9rem;
}
.botonesAPP {
    background-color: #2d9cdb;
    color: black;
    box-shadow: 2px 2px 4px #1280c0;
    text-shadow: 1px 1px #1280c0;
    border: 1px solid #1280c0;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.botonesAPP:hover {
    background-color: #1280c0;
    color: rgb(255, 255, 255);
    padding: 0.6rem;
}
.tituloEjercicios {
    display: flex;
    align-items: flex-start;
    width: 960px;
    margin: 1rem;
}
.containerEjercicios {
    margin: auto;
}

.tituloEjercicios h3 {
    margin: 0;
    align-self: flex-start;
}
.ejercicios {
    width: 960px;
    height: 400px;
    overflow: scroll;
    margin: 1rem;
    margin-top: 0.2rem;
    padding: 2rem;
    box-shadow: 2px 2px 4px #dd7017, -2px -2px 4px #dd7017, 2px -2px 4px #dd7017,
        -2px 2px 4px #dd7017;
    border-radius: 5px;
}
.ejercicios div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.btn-respuesta {
    margin: 1rem 0rem;
}
footer {
    background-color: var(--color-naranja);
    display: flex;
}
footer p {
    font-weight: bold;
    margin: 0;
}
.footer {
    margin: auto;
}
.menu {
    background-color: var(--color-naranja);
}
.offcanvas-header {
    background-color: var(--color-azul);
    width: 100%;
}
.offcanvas {
    max-width: 200px;
    height: 420px;
    border-radius: 5px;
}
#logo-margin {
    margin-left: 160px;
}
ol{
    font-size: 1.5rem;
    margin: 1rem;
}

@media screen and (max-width: 500px) {
    .introducion p {
        margin: 0.8rem;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    .Leyes {
        flex-direction: column;
    }

    .titulo {
        order: 1;
        font-size: 18px;
    }
    .botones {
        order: 2;
    }
    .app-btn {
        display: flex;
        flex-direction: column;
    }
    .botonesAPP {
        margin-bottom: 1rem;
    }
    .plays {
        width: 100%;
        text-align: center;
    }
    .video, .gif{
        width: 327px;
        height: 212px;
    }
    footer {
        margin-top: 1rem;
        align-items: center;
    }
    #logo-margin {
        margin-left: 0px;
    }
}
@media screen and (max-width: 450px) {
    .foto {
        display: none;
    }
}
